<%  if(success && success.length > 0) { %>
<div class="alert alert-success alert-dismissible fade show position-fixed end-0 m-3" role="alert" style="z-index: 1050; max-width: 300px;">
  <%= success %>
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
<%  } %>

<%  if(error && error.length > 0) { %>
<div class="alert alert-danger alert-dismissible fade show position-fixed end-0 m-3" role="alert" style="z-index: 1050; max-width: 300px;">
  <%= error %>
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
<%  } %>
